.flexRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  transition: all ease-in 0.2s;
  background-color: #efefef;
  border-radius: 6px;
  margin: 10px 0;
}

.flexRow.unread {
  background-color: #fff;
}
.flexRow.unread .subject {
  font-weight: bold;
}

.flexRow:hover {
  background-color: #dfdfdf;
}

.headerRow {
  font-weight: bold;
  font-size: large;
}

.flexContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headerRow {
  width: 100%;
  display: flex;
  justify-content: left;
}

.widthFull {
  width: 100%;
  display: flex;
  align-items: center;
}

.cb-spacer {
  width: 50px;
}

.cbWrapper {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexInner {
  display: flex;
  justify-content: left;
}

.from {
  min-width: 300px;
  margin-right: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subject {
  font-weight: 400;
}
.snippet {
  font-weight: 300;
  color: #444;
}
.checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkbox > label {
  font-size: 10px;
  text-align: center;
  display: block;
}
.date {
  text-align: right;
  font-size: small;
}

@media screen and (min-width: 800px) {
  .flexTable {
    width: 100%;
  }
}
